@charset "UTF-8";
body{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	background-color: #ccffff;
}
h1{
/*	border-style: solid;
*/	/*border-color: #39eded;*/
	padding:10px 10px 10px 10px;
	margin: 20px 10px 20px 10px;
	text-align: center;
}
h2{
	color: #f5f3eb;
	background-color: #39eded;
	font-size: 18px;
	border-bottom-width: 2px;
	border-bottom-style: dotted;;
	border-bottom-color: #39eded;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
}
img{
	border-style: none;
}
p{
	line-height: 160%;
}
/*a:link{
	color: #6aa4d6;
}
a:visited{
	color: #6aa4d6;
}

a:hover{
	color: #4f7697;
}
a:active{
	color: #aed3f2;
}*/
.wrapper{
	margin: 0 auto 0 auto;
	width: 900px;
	/*border-style: solid;
	border-color: #39eded;*/
}
#logoimg{
	float:left;
	margin: -10px 0px 0px 0px;
}
#head{
	height: 80px;
	border-bottom: solid;
	border-bottom-color: #00cdcd;
	/*background-color: #39eded;*/
	margin: 0 0 0 0;
	padding: 15px 0px 0px 0px;
		/*background-image: url(../images/menu-bg.png);*/
}
#nnv{
	margin-left: auto;
	width: 380px;
	margin-top: 40px;
}
/*すべてのページに適用-navまわり-*/
#nav li{
	display: inline;
	list-style-type: none;
	padding-right: 5px;
	color: #39eded;
	font-size: 18px;
}
#nav {
	margin: 0 0 0 0;
	padding: 15px 30px 10px 30px;

/*	background-image: url(../images/menu-bg.png);
*/
}
#nav li a:link{
	color: #00cdcd;
	text-decoration: none;
}
#nav li a:visited{
	color: #00cdcd;
	text-decoration: none;
}
#nav li a:hover{
	color: #00cdcd;
	text-decoration: none;
}
#nav li a:active{
	color: #00cdcd;
	text-decoration: none;
}
#footer{
	border-top: solid;
	border-top-color: #00cdcd;
	background-repeat: repeat-x;
	margin-top: 30px;
	padding:20px 0 20px 0;
	font-size: smaller;
	color: #442220;
}
/*Button*/
.button {
	background-color: #00cdcd;
	color: #ffffff;
	padding-top: 100px;
	border: 2px solid #00cdcd;
/*	line-height: 50px;
*/}
.button:hover {
	background-color: #ffffff;
	border-color: #00cdcd;
	color: #00cdcd;
}
.button {
	margin-top: 30px;
	display: inline-block;
	width: 430px;
	height: 300px;
	text-align: center;
	text-decoration: none;
	line-height: 54px;
	outline: none;
}
.button::before,
.button::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.button,
.button::before,
.button::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}